* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid;  
}
body{
    overflow-x: hidden;
}

.container {
    width: 1450px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.raw {
    display: flex;
}

.menu {
    margin-left: auto;
}

header {
    background-image: url(../image/Header\ Backgroundhome.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 802px;
    margin: 0 auto;
}

header a {
    color: white;
    text-decoration: none;
}

nav ul li a {
    font-size: 17px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}

@font-face {
    font-family: reey;
    src: url(../font/Reey-Regular.otf);
}

nav ul li {
    display: inline-block;
    line-height: 100px;
    padding: 20px;
    list-style: none;
    margin-right: 20px;
}

.input-icon i {
    position: absolute;
    line-height: 100px;
    margin-left: 70px;
}

input {
    border-radius: 15px 15px 15px 15px;
    width: 100px;
    height: 30px;
}

.logo img {
    margin-top: 100px;
    margin-left: 50px;
}

.logo {
    display: inline;
}

.title h1 {
    font-size: 80px;
    color: #ffffff;
    filter: drop-shadow(0px 5px 2.5px rgba(84, 82, 79, 0.22));
    margin-left: 50px;
    margin-top: 50px;
    font-family: reey;
}

.title p {
    margin-left: 50px;
    color: white;
    text-align: justify;
    width: 335px;

}

.home3 img {
    width: 700px;
    vertical-align: middle;
    margin-top: -145px;
    margin-left: 100px;
}

.main {
    height: 200px;
}

.main h2 {
    text-align: center;
    font-size: 75px;
    font-family: "Reey";
    color: #222328;
    margin-top: 100px;
    

}

.main p {
    margin-top: 50px;
    text-align: justify;
    width: 455PX;
    margin-left: 500px;

}

.main-img img {
    margin-left: 90px;
    margin-top: 100px;

}



.txt ul li {
    display: inline-block;
}

.txt ul li a {
    text-decoration: none;
    color: #222328;
    padding: 0 140px;
    font-size: 30px;

}

.txt2 ul li {
    padding: 0 68px;
    display: inline-block;
}

.btn {
    padding: 100px;
    text-align: center;

}

.btn a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

button {
    width: 334px;
    height: 75px;
    border-radius: 38px;
    background-color: #343434;

}

.main-info {
    background-color: #27292c;
    background-size: cover;
    height: 500px;

}

.info h2 {
    text-align: center;
    font-size: 75px;
    line-height: 170px;
    color: #ffffff;
    font-family: "Reey";
}



.lorem-info {
    width: 400px;
    margin-left: 270px;
    font-size: 20px;
    color: white;
}

.lorem-info2 {
    width: 400px;
    margin-left: 100px;
    font-size: 20px;
    color: white;
}



.btn2 button {
    margin-top: 100px;
    width: 270px;
    height: 58px;
    border-radius: 22px;
    background-color: #fdfdfd;


}

.btn2 a {
    text-decoration: none;
    color: #222328;
    font-size: 20px;
}

.btn2 {
    text-align: center;
}

.discount {
    display: inline-block;

}


.discount img {
    margin-top: 100px;
    width: 600px;
    margin-left: 140px;
}

.disc-txt h2 {
    font-size: 50px;
    margin-top: 184px;
    margin-left: 71px;
}

.disc-txt-main {
    width: 450px;
    font-size: 20px;
    margin-left: 71px;
    margin-top: 52px;

}


.disc-txt1 {
    margin-left: 100px;
}

.offers {
    margin-left: 140px;
}

.disc-img img {
    margin-top: 100px;
    width: 600px;
    margin-left: 50px;
}

.disc-btn {
    margin-top: 40px;
    margin-left: 70px;
    font-size: 20px;

}

.disc-btn a {
    text-decoration: none;
    color: white;
}

.footer-img {
    background: url(../image/Header\ Backgroundhome.png) no-repeat center center /cover;
    position: relative;
    background-size: cover;
    height: 1085px;
    position: relative;
}

.pizza img {

    position: absolute;
    bottom: -190px;
    /* right: 0px; */


}

.CENE {
    font-size: 20px;
    color: white;
    width: 600px;
    text-align: center;
    margin-left: 410px;


}

.footer-txt h2 {
    line-height: 220px;
    text-align: center;
    font-size: 58px;
    color: #f8f6f1;
    font-family: "Reey";
}


.f-txt ul li {
    display: inline-block;
}

.f-txt ul li a {
    text-decoration: none;
    color: #222328;
    padding: 0 140px;
    line-height: 300px;
    font-size: 30px;
    font-family: "Reey";
}

.f2-txt ul li {

    padding: 0 68px;
    display: inline-block;
}

.f-lorem {
    font-weight: 600;
    margin-left: 510px;
    width: 465px;
    margin-top: 170px;

}

.f3-txt {
    line-height: 100px;
    text-align: center;

}

.email {

    text-align: center;
    height: 600px;
    background-color: #27292c;
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-transform: capitalize;
    position: relative;
}

.f-title {
    line-height: 300px;


}

.title-lorem p {
    font-size: 20px;

}

.input2 {
    margin-top: 50px;
    width: 660px;
    height: 40px;
    text-transform: capitalize;
    position: absolute;
    margin-right: 100px;
    padding: 0 10px;
}

.input button {
    width: 200px;
    height: 40px;
    position: relative;
    margin-top: 51px;
    margin-left: 466px;
    background-color: #54524f;
    ;
}

.input button a {
    color: white;
    font-size: 20px;
    text-decoration: none;

}

.liveimg {
    position: relative;
    margin-top: -485px;
}

.liveimg img {

    height: 800px;
}

.f-main1 li {
    list-style: none;

    display: inline-block;
    line-height: 100px;
    padding: 0 86px;
    margin: 0 40px;
    text-transform: capitalize;
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";

}

.col-50 {
    width: 50%;
}

.col-33 {
    width: 16%;
}
.titlehere{
    width: 600px;
}
.titlehere p{
    width: 500px;
    font-size: 20px;
}
.social-links li{
    margin-top: 40px;
    list-style: none;
display: inline-block;
}
.social-links li a{
    text-decoration: none;
    color: #343434;
    font-size: 25px;
}

.about {
    display: flex;
    text-transform: capitalize;
    line-height: 30px;
    
}

.about1 ul li {
    list-style: none;
    font-size: 20px;
 

    
}
.about1{
    width: 33%;
}

.about1 ul li a{
    text-decoration: none;
    color: #343434;
    font-size: 20px;
}
.other ul li {
    list-style: none;
}
.other{
    width: 33%;
}
.other ul li a{
    text-decoration: none;
    color: #343434;
    font-size: 20px;
}

.Services ul li{
list-style: none;
}
.Services{
    width: 33%;
}
.Services ul li a{
    text-decoration: none;
    color: #343434;
    font-size: 20px;
}


h2 {
    color:#343434;
    text-transform: capitalize;
}


/* @media (min-width: 576px) {
    .container {
        width: 540px;
        margin: 0 auto;
    }

    .col-33 {
        width: 100%;
    }
    
    .col-50 {
        width: 100%;
    }
    
    .col-40 {
        width: 100%;
    }
    
    .col-16 {
        width: 100%;
    }
    
}

@media (min-width: 768px) {
    .row{
        flex-wrap: nowrap;
    }
    .container {
        width: 740px;
        margin: 0 auto;
    }

    .col-33 {
        width: 50%;
    }
    
    .col-50 {
        width: 50%;
    }
    
    .col-40 {
        width: 40%;
    }

    .col-16 {
        width: 16.66%;
    }
    
}

@media (min-width: 992px) {
    .row{
        flex-wrap: nowrap;
    }
    .container {
        width: 950px;
        margin: 0 auto;
    }

    .col-33 {
        width: 33.33%;
    }
    
    .col-50 {
        width: 50%;
    }
    
    .col-40 {
        width: 40%;
    }
    
    .col-16 {
        width: 16.66%;
    }
    
}

@media (min-width: 1200px) {
    .row{
        flex-wrap: nowrap;
    }
    .container {
        width: 1140px;
        margin: 0 auto;
    }

    .col-33 {
        width: 33.33%;
    }
    
    .col-50 {
        width: 50%;
    }
    
    .col-40 {
        width: 40%;
    }
    
    .col-16 {
        width: 16.66%;
    }
    
} */