* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

.header {
    background: url(../image/b1.jpg) no-repeat center center/cover;
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    align-items: center;

}


.container {
    width: 1250px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.justify {
    justify-content: space-between;
}

.align {
    text-align: center;
}

.logo i {
    color: tomato;
    font-size: 20px;
}

.logo p {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
}

.logo span {
    font-size: 30px;
    font-size: 32px;
    font-weight: 800;
    color: #fff; 
}

nav ul li {
    list-style: none;
    text-transform: capitalize;
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: tomato;
    font-size: 20px;
    padding: 20px;
}

.menu input {
    font-size: 15px;
    border-radius: 30px 0 0 30px;
    border: 2px solid white;
    padding: 8px 20px;
    border-right: none;
}

.menu button {
    font-size: 15px;
    border-radius: 0px 30px 30px 0px;
    background: tomato;
    padding: 8px 20px;
    border: 2px solid white;
    border-right: none;
}

.menu i {
    font-size: 20px;
    color: white;
}

.home-txt {
    margin: 100px 0px;
}

.home-txt p {
    font-size: 22px;
    line-height: 32px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-txt h1 {
    font-size: 65px;
    line-height: 75px;
    margin-bottom: 18px;
    color: #fff;
    max-width: 700px;
    font-weight: 800;
}

.home-txt button {
    padding: 12px 42px 14px;
    font-size: 16px;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    font-weight: 800;
    outline: none;
    border: none;
    background-color: tomato;
}

.col-50{
    width: 50%;
    margin: 0 auto;
}
.sec2-txt h2 {
    margin-top: 200px;
    text-transform: capitalize;
    font-size: 50px;
    width: 500px;
}
.sec2-txt p{
    width: 500px;
    text-align: justify;
    font-size: 20px;
}

.pow {
    position: relative;
    /* top: -156px; */
    /* left: 166px; */
}

.pow i {
    /* position: absolute; */
    transform: rotate(50deg);
    border: hidden;

}

.paw-1 {
    transform: rotate(50deg);
    top: -80px;
    /* left: 80px; */
    font-size: 25px;
    color: tomato;
}

.paw-2 {
    transform: rotate(50deg);
    top: -96px;
    /* left: 102px; */
    font-size: 20px;
    color: rgba(255, 99, 71, 0.667);
}

.paw-3 {
    transform: rotate(50deg);
    top: -111px;
    /* left: 122px; */
    font-size: 15px;
    color: rgba(255, 99, 71, 0.406);
}
.diagnostics span i{
    background-color: #7f84fa7d;
    border-radius: 65% 35% 32% 68% / 62% 56% 44% 38%;
    width: 50px;
    height: 50px;
   text-align: center;
   font-size: 20px;
   line-height: 50px;
} 

.diagnostics p{
    width: 300px;
    margin-left: 0 ;
}
.sec2-txt2{
    margin-top: 200px;
    display: flex;
}


.award i{
    color: #ff4f81;
    background: rgb(255 79 129 / 12%);
    border-radius: 65% 35% 32% 68% / 62% 56% 44% 38%;
    width: 50px;
    height: 50px;
   text-align: center;
   line-height: 50px;
   font-size: 20px;
}
.award p{
    width: 300px;
}
.breed i{
    color: #0abf53;
    background: rgb(10 191 83 / 14%);
    font-size: 20px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 65% 35% 32% 68% / 62% 56% 44% 38%;
    text-align: center;
}
.breed p{
    width: 300px;
}
.dog-train i{
    font-size: 20px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 65% 35% 32% 68% / 62% 56% 44% 38%;
    color: var(--color-4);
    background: #ff9933;
    text-align: center;
}
.dog-train p{
    width: 300px;
}
.sec2-col2{
    display: flex;
}