* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

div {
    /* display: flex; */
    border: 1px solid;
}

header {
    background: url(../images/background.home.png);
    height: 810px;
    width: 1440px;
    text-transform: capitalize;
    display: inline-block;
}

.raw {
    display: flex;
}

nav ul li {
    display: inline-block;
}
.logo img{
    height: 46px;
    width: 37px;
    margin-left: 0 auto;
}

nav a {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 61px;
    color: #000b2c;
    font-weight: bold;
    font-family: "Myriad Pro";
    text-align: center;
}