* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.col-30 {
    width: 30%;
    margin: 0 auto;
}

.col-50 {
    width: 50%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.logo img {
    width: 10%;
    display: block;
}

.menu ul li {
    display: inline-block;
    padding: 24px;
}

.menu ul li a {
    width: 100%;
    margin-left: auto;
    text-decoration: none;
    color: rgb(49, 49, 141);
    font-size: 18px;
    text-transform: capitalize;

}

.sec2-head {
    /* text-align: center; */
    color: #141c3a;
    font-size: 30px;
    font-weight: 700;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.sec2-head h2 {
    margin: 100px 0;
}


.sec2-head img {
    width: 100%;
}

.sec3-bg {
    background-color: #6E07F3;
}

.sec3-head {
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 50px;
}

.sec3-head h2 {
    padding: 20px 0;
}

.sec3-head p {
    width: 700px;
    margin: 0 auto;
}